<included>
    <property name="FILE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} [%thread]{red} %-5level %logger{36} - %msg%n"/>

    <appender name="Log_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/wumoError-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Log_FILE"/>
    </root>
</included>