<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <springProfile name="prod">
        <include resource="logback-spring-prod.xml"/>
    </springProfile>
    <springProfile name="local">
        <include resource="logback-spring-local.xml"/>
    </springProfile>
</configuration>